<!DOCTYPE html>
<html ng-app='grad'>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <h1>Add Courses</h1>

    <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
    <!--     <div ng-view></div> -->

    
    <div id='studentInfo' ng-controller = "gradCtrl as info">
      <form name="gradesForm" ng-submit='info.addCourse()'>
        <select data-ng-options="option as option.name for option in info.courseOptions" ng-model="info.subjectSelected" required>
        </select>
        <select data-ng-options="course as course.name for course in info.subjectSelected.courses" ng-model="info.courseSelected" required>
        </select>
        <select data-ng-options="semester for semester in info.semesterOptions" ng-model="info.semesterSelected" required>
        </select>
        <select data-ng-options="grade as grade.name for grade in info.gradeOptions" ng-model="info.gradeSelected" required>
        </select>
        <input type='text' ng-model='info.courseName' ng-show="info.needInputBox()" ng-required="info.needInputBox()" value = "Enter course title  ">
        <button ng-show="gradesForm.$valid">add class</button>
      </form>

      <span>{{info.subjectSelected}}</span>
      <span>{{info.courseSelected}}</span>
      <span>{{info.gradeSelected}}</span>
      <br>
      <h2>Test Information</h2>
       <form name="testForm" ng-submit='info.addTest()'>
        <select data-ng-options="test for test in info.eoiTests" ng-model="info.eoiSelected" required></select>
        <select data-ng-options="score as score.name for score in info.eoiScoreOptions" ng-model="info.scoreSelected" required></select>
        <button ng-show="testForm.$valid">add test</button>
      </form>
      <br>
      <h1>EOI Requirements Met: {{info.eoiRequirementsMet}} Testing Requirements Met: {{info.creditRequirementsMet}}</h1>
      <div id = 'creditsInfo'>
        <span ng-repeat="(subjectArea, courses) in info.courseList">
          <b>{{subjectArea}}</b></br>
          <span ng-repeat="course in courses | orderBy:'course.course'">{{course.semester}}-{{course.course}}  ({{course.grade.name}})<br></span>
        </span>
        <span>{{info.percentMathRequirements()}}</span>
      </div>
    {{info.consoleLog}}  
    <br>
    {{info.courseOptions[0] | json}}
      <!-- <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a> -->
    </div>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>
