<!DOCTYPE html>
<html ng-app='grad'>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

  </head>
  <body>
    
    <div id='studentInfo' ng-controller = "gradCtrl as info">

      <h2>Add Courses</h2>
      <form name="gradesForm" ng-submit='info.addCourse()'>
  
        <select data-ng-options="option as option.name for option in info.courseOptions" ng-model="info.subjectSelected" required>
        </select>
        <select data-ng-options="course as course.name for course in info.subjectSelected.courses" ng-model="info.courseSelected" required>
        </select>
        <select data-ng-options="semester as semester for semester in info.semesterOptions" ng-model="info.semesterSelected" required>
        </select>
        <select data-ng-options="grade as grade.name for grade in info.gradeOptions" ng-model="info.gradeSelected" required>
        </select>
        <input type='text' ng-model='info.courseName' ng-show="info.needInputBox()" ng-required="info.needInputBox()" value = "Enter course title  ">
        <button ng-show="gradesForm.$valid">add class</button>
      </form>

      <br>
      <h2>Add EOI Scores</h2>
       <form name="testForm" ng-submit='info.addTest()'>
        <select data-ng-options="test for test in info.eoiTests" ng-model="info.eoiSelected" required></select>
        <select data-ng-options="score as score.name for score in info.eoiScoreOptions" ng-model="info.scoreSelected" required></select>
        <button ng-show="testForm.$valid">add test</button>
      </form>
      <br>
      <h1 >EOI Requirements Met: {{info.eoiRequirementsMet}} </h1>
      <progressbar class="progress-striped active" value="info.eoiProgress" type="{{info.eType}}"> EOI Requirements <i ng-show="showWarning">!!! Watch out !!!</i></progressbar>
      <h1 >Course Requirements Met: {{info.creditRequirementsMet}}</h1>
      <progressbar class="progress-striped active" value="info.creditProgress" type="{{info.cType}}"> Course Requirements <i ng-show="showWarning">!!! Watch out !!!</i></progressbar>
      <div id = 'creditsInfo'>
        <span ng-repeat="subjectArea in info.courseOptions">
          <b>{{subjectArea.name}}  : {{subjectArea.requirementsMet}}</b></br>
        </span>
      </div>
      <div id = 'class'>
        <span ng-repeat="subjectArea in info.courseOptions">
          <b>{{subjectArea.name}}</b></br>
          <span ng-repeat="course in subjectArea.courses">
            <span ng-show="course.semesters[0].credit || course.semesters[1].credit">{{course.name}} Semester 1: {{course.semesters[0].grade}} Semester 2: {{course.semesters[1].grade}}   {{course.completed}}<br> </span> 
          </span>
          <span ng-show="subjectArea.otherCourses.length>0">Other Courses<br></span>
          <span ng-repeat="course in subjectArea.otherCourses">
            {{course.name}} Semester 1: {{course.semesters[0].grade}} Semester 2: {{course.semesters[1].grade}} {{course.completed}}
          </span>
        </span>
      </div>
      <span ng-show="info.GPA.creditHours>0">{{info.GPA.points/info.GPA.creditHours}}</span>
    <br>
    </div>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>
